[submodule "ArcDPS-Timer/imgui"]
	path = ArcDPS-Timer/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ArcDPS-Timer/hash-library"]
	path = ArcDPS-Timer/hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "ArcDPS-Timer/arcdps-extension"]
	path = ArcDPS-Timer/arcdps-extension
	url = https://github.com/knoxfighter/arcdps-extension.git
